.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(227, 221, 247);
  padding: 10px 15px;
  border: 1px solid black;
}

.label {
  margin-top: 10px;
}
